doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title We are the university
  link(rel='stylesheet' href='/reset.css')
  link(rel='stylesheet' href='/style.css')
body 
  section.banner
    h1.logo We are the university
    h2.subtitle Reclaiming our universities
    p
      | Notes for critically thinking about universities maintained by 
      a(target='_blank' href='https://javagrant.com')
        | Java
        | Grant
      sup
        abbr(title='Hosted, linked, and blogged content is not endorsed.') ^
    p 
      | We the students and staff are the core of this institution. We are not bonus additions to your venture capitalist and real-estate development firm. This institution should exist for education, research, and service to the public and should be led by the staff and students who make it happen. There can't be a university without us, our passion, and our labour. You can't claim the title alone.
      | We reclaim the identity which management steals from us.
      | We are the university.

  section(style='background-color: #fff1;')
    h1 Notices
    div(style='display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); grid-gap: 1em;')
      div.notice
        h3 
          | Special Senate Meeting Being Fast Tracked
        p
          | Dawn Freshwater has succumbed to pressure, a special meeting of senate has been called but management is trying to suppress staff and student voices.
        ul
          li 
            a(href="/2024/08/22/dawn-freshwater-all-staff-email/") Announcement of meeting
          li 
            strong 
              a(href="/2024/08/24/resources-for-senate-members/") Resources for senate members
      div.notice
        h3
          | Open Forum Feedback
        p
          | Please #[a(href="https://forms.gle/BH5h3s5VT21Lwqpd9", target="_blank") provide feedback on the student-led open forum].
  

  section
    h1.center Blog Posts #[a(href="/rss.xml", target="_blank", class="small-text") RSS]
    ul.contents
      for item in blog_data
        li
          a(href=item.link)
              span
                  | #{item.title}
              span
                  | #{item.date}