doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title We are the university
  link(rel='stylesheet' href='/reset.css')
  link(rel='stylesheet' href='/style.css')
body 
  section.banner
    h1.logo We are the university
    .tight.text-left
      h2.subtitle Reclaiming our universities
      p 
        | We the students and staff are the beating heart of this institution. We are not a bonus attached to a venture capitalist and real-estate development firm. This institution should exist for education, research, and service to the public; it should be led by the staff and students who make it happen. There can't be a university without us, our passion, and our labour. The university is not management.
      p
        | We reclaim the identity that management steals from us.
      p
        | We are the university.
  section
    p.center
      | Notes for critically thinking about universities maintained by 
      a(target='_blank' href='https://javagrant.com')
        | Java
        | Grant
      sup
        abbr(title='Hosted, linked, and blogged content is not endorsed.') ^
  section(style='background-color: #fff1;')
    h1 Notices
    div(style='display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); grid-gap: 1em;')
      div.notice
        h3 
          | Staff told to keep quiet
        p
          | Management knows that students support staff and have <strong>explicitly told staff to not communicate with students regarding upcoming cuts</strong> to professional staff.
          | #[a(href="/2024/08/30/teu-update/") More here.]
      div.notice
        h3 
          | Bachelor of Education being discontinued
        p
          | We are hearing that the bachelor of education is being discontinued. This is a major blow to the future of educators in New Zealand. I guess having locally developed and taught pedagogy is unimportant now?
          | Will report more once we have more information.
          | If you have more information, please check out the #[a(href="/leak") leaking info page].
      div.notice
        h3 
          | Record turnout at Senate
        p
          | Thank you to everyone who attended the special senate meeting. We heard it was a record turnout despite the tactics of management to suppress staff and student voices.
      div.notice
        h3 
          | Special Senate Meeting Being Fast Tracked
        p
          | Dawn Freshwater has succumbed to pressure, a special meeting of senate has been called but management is trying to suppress staff and student voices.
        ul
          li 
            a(href="/2024/08/22/dawn-freshwater-all-staff-email/") Announcement of meeting
          li 
            strong 
              a(href="/2024/08/24/resources-for-senate-members/") Resources for senate members
      div.notice
        h3
          | Open Forum Feedback
        p
          | Please #[a(href="https://forms.gle/BH5h3s5VT21Lwqpd9", target="_blank") provide feedback on the student-led open forum].
  

  section
    h1.center Blog Posts #[a(href="/rss.xml", target="_blank", class="small-text") RSS]
    p.tight This section is slowly being updated to include all kinds of relevent back-dated content from archives and news outlets.
    ul.contents
      for item in blog_data
        li
          a(href=item.link)
              span
                  | #{item.title}
              span
                  | #{item.date}