//- footer.pug
footer
    ul 
        li
            a(href="/") Home
        li
            a(href="/about") About
        li
            a(href="/contact") Contact
    p=`© ${Date.now().getFullYear()} We Are The University`