<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
  <h1 class="logo"><a href="/" style="color:inherit; text-decoration:none;">We Are The University</a></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/archive">Archive</a></li>
        <li><a href="/arcade">Arcade</a></li>
        <li><a href="/tools">Tools</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Blog</h1>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Excerpt</th>
    </tr>
  </thead>
  <tbody><tr>
        <td><small>2025-10-09</small></td>
        <td><a href="/blog/">Blog</a></td>
        <td>Blog {% for post in collections.blog %} {% if not post.data.draft %} &lt;article &lt;h2&lt;a href=&quot;{{ post.url }}&quot;{{ post.data.title }}&lt;/a&lt;/h2 &lt;p&lt;small{{ post.date date&quot;yyyyMMdd&quot; }}&lt;/small&lt;/p &lt;p{{ post.data.excerpt or &quot;No excerpt available&quot; }}&lt;/p &lt;/article {% endif %} {% endfor %} {% set drafts = collections.blog selectattr&#39;data.draft&#39;, &#39;equalto&#39;, true list %} {% if drafts...</td>
      </tr><tr>
        <td><small>2025-08-20</small></td>
        <td><a href="/blog/2025/08/20/appointment-of-vice-chancellor/">Appointment of Vice-Chancellor</a></td>
        <td>Kia ora koutou Appointment of ViceChancellor Following Professor Freshwater’s resignation earlier in the year, University Council will now commence an international recruitment process to appoint our next ViceChancellor. As per Council ViceChancellor Review and Executive Remuneration Committee Terms of Reference, the Chancellor, ProChancellor, Chair of Finance Committee and Chair of...</td>
      </tr><tr>
        <td><small>2025-06-11</small></td>
        <td><a href="/blog/2025/06/11/vice-chancellor-dawn-freshwater-resigns-from-auckland-university/">Vice Chancellor Dawn Freshwater Resigns from Auckland University</a></td>
        <td>Professor Dawn Freshwater has announced that she will step down as ViceChancellor in early 2026, we acknowledge her service during unprecedented times in Aotearoa. While We Are The University has strongly disagreed with key consolidation and costsaving measures under her leadership – measures which externalised costs onto students and staff...</td>
      </tr><tr>
        <td><small>2025-06-11</small></td>
        <td><a href="/blog/2025/06/11/submission-education-training-amendment-bill-no-2/">Submission to the Education and Workforce Committee regarding the Education and Training Amendment Bill (No 2)</a></td>
        <td>I am writing to express my strong opposition to the Education Amendment Bill No 2. As a PhD researcher examining the future of Universities in Aotearoa, I am distressed by the introduction of a very American framework inappropriate for the context of New Zealand. I urge the rejection of this...</td>
      </tr><tr>
        <td><small>2025-03-17</small></td>
        <td><a href="/blog/2025/03/17/uoa-law-business-econ-merger-back-down/">University of Auckland Council Backs Down (slightly) on Law, Business, and Economics Merger</a></td>
        <td>External Resources Uni council takes law school merger off the agenda – for nowhttps://lawnews.nz/administrativepublic/unicounciltakeslawschoolmergerofftheagenda/ Summary The University of Auckland has delayed a crucial vote on merging its law and business faculties following backlash over plans to discuss the matter in secret. Initially, the university council, led by ViceChancellor Dawn Freshwater...</td>
      </tr><tr>
        <td><small>2024-12-19</small></td>
        <td><a href="/blog/2024/12/19/uoa-law-business-econ-merger/">Law, Business, and Economics Merger Resources</a></td>
        <td>External Resources RNZ Nine To Noon Unease at Proposal to Change Auckland&#39;s Law Schoolhttps://www.rnz.co.nz/national/programmes/ninetonoon/audio/2018967773/uneaseatproposaltochangeaucklandslawschool Writeup hereninetonoon Notes The concequences of this merger are particularly hard on the law faculty. Here are some notes that will be expanded on as we go. A merger would undermine the Law faculty&#39;s independence, which...</td>
      </tr><tr>
        <td><small>2024-12-11</small></td>
        <td><a href="/blog/2024/12/11/marsden-open-letter/">Cuts to Marsden Funding for Humanities and Social Sciences</a></td>
        <td>Updates The Royal Society, who administers the Marsden Fund, has released a statement in response to the cutshttps://www.royalsociety.org.nz/news/openletteronimportanceofthesocialsciencesandhumanities/. News coverage: Marsden Fund controversy: Peak science body urges PM to reconsider research funding cutshttps://www.nzherald.co.nz/nz/marsdenfundcontroversypeaksciencebodyurgespmtoreconsiderresearchfundingcuts/MM2XODIB6VGIRO3MFVTLD3YJLI/ Science can tell you how to clone a trex, humanities can tell you why this might be...</td>
      </tr><tr>
        <td><small>2024-12-10</small></td>
        <td><a href="/blog/2024/12/10/saanz-marsden-press-release/">SAANZ Statement on the disbanding of the humanities and social sciences panels of the Marsden Fund</a></td>
        <td>Source/media/SAANZPressReleaseOnMarsden10.12.2024.pdf 10th December 2024 Press release SAANZ Statement on the disbanding of the humanities and social sciences panels of the Marsden Fund The Sociological Association of Aotearoa New Zealand SAANZ is deeply concerned by the announcement on the 4th December 2024 by the Hon. Judith Collins Minister of Science, Innovation...</td>
      </tr><tr>
        <td><small>2024-11-12</small></td>
        <td><a href="/blog/2024/11/12/dawn-proposes-new-combined-faculty-of-law-and-business-economics/">Breaking: Dawn Proposes New Combined Faculty of Law and Business &amp; Economics</a></td>
        <td>&lt;script src=&quot;/tableofcontents.js&quot; columns=&quot;2&quot;&lt;/script The following email has been sent to the allstaff email list at the University of Auckland. Dawn has finally refreshed her contract and is contracted another 5 years as ViceChancellor. Her ideology of consolidation and socalled efficiency has cost this institution valuable professional staff and countless years...</td>
      </tr><tr>
        <td><small>2024-11-01</small></td>
        <td><a href="/blog/2024/11/01/open-letter-to-professor-dawn-freshwater-from-dr-lawrence-xu-nan/">Open Letter to Professor Dawn Freshwater from Dr Lawrence Xu-Nan (Green Party List MP)</a></td>
        <td>Professor Dawn Freshwater, Waipapa Taumata Rau University of Auckland ViceChancellor 1st November 2024 RE: Concerns over the future of Arts, Education and Social Work, and Creative Arts and Industries, and course cuts E te Tumu Whakarae, tēnā koe Professor Dawn Freshwater, I am writing to echo the recent concerns that...</td>
      </tr><tr>
        <td><small>2024-10-09</small></td>
        <td><a href="/blog/2024/10/09/rally-agains-course-cuts/">Rally Against Course Cuts</a></td>
        <td>Rally Graphic/media/rally.png Link to Instagram posthttps://instagram.com/p/DA4Es4UTDwp/ Today university management decide if they commit to proposed course cuts, or rethink as requested by students, staff, and Senate. Staff are picketing outside this meeting at 3:30pm outside the Clocktower. We join them at 4pm, after the Students for Palestine rally concludes. It...</td>
      </tr><tr>
        <td><small>2024-10-02</small></td>
        <td><a href="/blog/2024/10/02/NZCTU-stand-up-event-oct-2024/">NZCTU Stand Up Event 17th October 2024</a></td>
        <td>NZCTU specifically the representative structure for young workers called Stand Up got in touch and they&#39;re planning to do an event on campus October 17th to talk about the union movement’s strategy leading up to the next election. A better world is possible. The future is not set in stone...</td>
      </tr><tr>
        <td><small>2024-09-26</small></td>
        <td><a href="/blog/2024/09/26/teu-strikes-sept-2024/">Great Showing at Tertiary Education Strikes in Auckland</a></td>
        <td>Strike/media/strike.jpg Today&#39;s strike was awesome. We had a great turnout of students and staff, and we were able to show the university management that we are united in our opposition to their attacks on our working conditions and their way of doing things. The functions of the university rest on...</td>
      </tr><tr>
        <td><small>2024-09-20</small></td>
        <td><a href="/blog/2024/09/20/atlas-on-campus/">ATLAS on campus</a></td>
        <td>&lt;script src=&quot;/tableofcontents.js&quot;&lt;/script The NZSIS threat report names foreign influence targeting academic institutions, concerningly limiting scope to state and state affiliated actors. There is increasing influence of private organisations in universities astroturfing their views to weaken the NZ state and university institution. Students for Libertyhttps://en.wikipedia.org/wiki/StudentsforLiberty SFL is a member of Atlas...</td>
      </tr><tr>
        <td><small>2024-09-01</small></td>
        <td><a href="/blog/2024/09/01/original-ethos/">Original Ethos</a></td>
        <td>We are a community of students and staff who are committed to the University as a site of intellectual expansion and academic freedom. We believe the University should function as the ‘critic and conscience of society’ and as an open space for expression of dissent. The escalating profitdriven and marketoriented...</td>
      </tr><tr>
        <td><small>2024-08-31</small></td>
        <td><a href="/blog/2024/08/31/student-opinions-cuts/">Student Opinions on Course Cuts</a></td>
        <td>It is clear students don&#39;t feel heard and are frustrated with the lack of transparency and communication from the university. Here are some of the comments students have made on the course cuts: How is your experience with small courses?howisyourexperiencewithsmallcourses How would the proposed course cuts affect you &#92;&amp; your...</td>
      </tr><tr>
        <td><small>2024-08-30</small></td>
        <td><a href="/blog/2024/08/30/university-of-auckland-academics-in-unprecedented-revolt-over-controversial-course-shake-up/">University of Auckland academics in ‘unprecedented’ revolt over controversial course shake-up</a></td>
        <td>Original article has photo and video content.https://www.nzherald.co.nz/nz/universityofaucklandacademicsinunprecedentedrevoltovercontroversialcourseshakeup/ODXSAEWSHFHFLLPR73HWSOEMTE/ Highlights and additional comments are added by We Are The University. Auckland University students address course cuts at open forum University of Auckland senate votes to pause a wider curriculum transformation programme amid course review concerns. Vicechancellor Dawn Freshwater said the review aims...</td>
      </tr><tr>
        <td><small>2024-08-30</small></td>
        <td><a href="/blog/2024/08/30/teu-update/">TEU Update Email</a></td>
        <td>WHOA. This is interesting. It would seem that some solidarity busting is going on. Management knows that students support staff and have explicitly told staff to not communicate with students regarding upcoming cuts to professional staff. &quot;It would also not be appropriate for staff to engage with students or involve...</td>
      </tr><tr>
        <td><small>2024-08-30</small></td>
        <td><a href="/blog/2024/08/30/staff-opinions-cuts/">Staff Opinions on Course Cuts</a></td>
        <td>It is clear staff don&#39;t feel heard and are frustrated with the lack of transparency and communication from the university. Here are some of the comments staff have made on the course cuts: It&#39;s good that the uni at this stage ... is saying at least that they hope to...</td>
      </tr><tr>
        <td><small>2024-08-30</small></td>
        <td><a href="/blog/2024/08/30/more-cuts-coming/">More cuts are coming</a></td>
        <td>Based on some recent leaks/2024/08/29/universityofaucklandallstaffforum29thaugust2024 it is apparent there are more cuts on their way at The University of Auckland beyond the ones students and staff are already kicking up a fuss about. Cuts to Staff &quot;We are now starting to eat into that financial headroom and as we look...</td>
      </tr><tr>
        <td><small>2024-08-29</small></td>
        <td><a href="/blog/2024/08/29/university-of-auckland-all-staff-forum-29th-august-2024/">University of Auckland All Staff Forum 29th August 2024</a></td>
        <td>The below transcript is from an All Staff Zoom meeting at the University of Auckland. The meeting was held on 29th of August 2024. Thank you to staff and students who leak information to us. You can contribute by emailing us at email@wearetheuniversity.orgmailto:email@wearetheuniversity.org. We will protect your anonymity, however be...</td>
      </tr><tr>
        <td><small>2024-08-29</small></td>
        <td><a href="/blog/2024/08/29/senate-special-meeting/">Senate Special Meeting</a></td>
        <td>Senate had a historical turnout. Members of senate said more than ever attended and the motion put forward was passed with flying colours. I have been told by many that student support on this issue has been useful. Thank you to all the senate members who attended and to all...</td>
      </tr><tr>
        <td><small>2024-08-29</small></td>
        <td><a href="/blog/2024/08/29/are-we-the-university-notes/">Notes on Adam Cragie&#39;s &#39;Are We The University? A Rupture of the Political Opportunity Structure&#39;</a></td>
        <td>This is a summary/key highlights taken by Java of Adam Cragie&#39;s Master&#39;s thesis. The thesis is subtitled &quot;Analysis of We Are The University&#39;s Experience&quot; and was submitted in 2013. Key Questions A good key question: &quot;Why has a student protest movement finally emerged adter a decade of student apathy?&quot; 1...</td>
      </tr><tr>
        <td><small>2024-08-26</small></td>
        <td><a href="/blog/2024/08/26/email-to-senate-members/">Email to Senate Members</a></td>
        <td>From: email@wearetheuniversity.org To: some Members of Senate Date: 20240826 10:39AM Ata mārie members of Senate. You will be aware of recent student activism regarding university management&#39;s pressure for faculties to identify courses to cut. We the students urge you to attend the upcoming Senate meeting. Management, despite the rapid developments...</td>
      </tr><tr>
        <td><small>2024-08-24</small></td>
        <td><a href="/blog/2024/08/24/student-led-open-forum-writeup/">Student Led Open Forum Writeup</a></td>
        <td>Student Led Open Forum Writeup Unfortunately we were little taken aback by the provost&#39;s approach of &quot;this is normal&quot; as this was not a case we had encountered the administration offering anywhere else. Seeing as we are students not suuuuuper familiar with what is normal process, it was hard for...</td>
      </tr><tr>
        <td><small>2024-08-24</small></td>
        <td><a href="/blog/2024/08/24/student-led-open-forum-minutes/">Student Led Open Forum Minutes</a></td>
        <td>As the recorder, the following notes are written without bias, from a neutral perspective. Notes are based on what was audible from my individual physical position Information subject to misinterpretation Provost Valerie Linton’s Address : Prov. Linton acknowledges the concern and worry regarding the ordeal with the course cuts and...</td>
      </tr><tr>
        <td><small>2024-08-24</small></td>
        <td><a href="/blog/2024/08/24/resources-for-senate-members/">Resources For Senate Members</a></td>
        <td>&lt;button onclick=&quot;window.print&quot; style=&quot;display: block; margin: 0 auto;&quot;PRINT THIS PAGE&lt;/button Summary Students need you to physically attend the special Senate meeting on Tuesday the 27th of August Management&#39;s newly added requirements, inperson only, no proxy votes, set up to stop Senate from speaking out against course cuts Please tell fellow Senate...</td>
      </tr><tr>
        <td><small>2024-08-23</small></td>
        <td><a href="/blog/2024/08/23/encouragement/">Encouragement</a></td>
        <td>Kia ora, Java. Thank you kindly for the mahi that you and your colleagues undertook with yesterday’s forum. It was great to hear questions asked of what is an underthought, dictatorial and clumsily implemented kaupapa. I thought that the Provost didn’t defend it at all well – although that seems...</td>
      </tr><tr>
        <td><small>2024-08-23</small></td>
        <td><a href="/blog/2024/08/23/encouragement-2/">Encouragement 2</a></td>
        <td>Kia ora Java, REDACTED I’m just writing to say thank you for your hard work on student engagement in this course optimisation process. I attended the event yesterday at the quad, and I think you did a fantastic job with the pointed questions to our Provost. The questions from students...</td>
      </tr><tr>
        <td><small>2024-08-22</small></td>
        <td><a href="/blog/2024/08/22/staff-contribution/">Staff Contribution</a></td>
        <td>In her messages to staff she calls the is this proposal &quot;slightly&quot; different from past practice. How is it so when all faculties have simultaneously been charged with the task of urgently identifying courses that can be disappeared, combined, or offered in alternate years? How so when it is an...</td>
      </tr><tr>
        <td><small>2024-08-22</small></td>
        <td><a href="/blog/2024/08/22/faculty-member-view-on-provost-comments-at-student-rally/">Faculty member view on Provost comments at student rally</a></td>
        <td>Faculty member view on Provost comments at student rally u/EuphoricScale7466 I am a professor who listened to the Provost&#39;s remarks at the student rally protesting course cuts at the University of Auckland on Thursday afternoon, August 22. Unfortunately, I think a lot of what she said was misleading, incomplete, or...</td>
      </tr><tr>
        <td><small>2024-08-22</small></td>
        <td><a href="/blog/2024/08/22/encouragement/">Encouragement</a></td>
        <td>Please pass on my thanks and congratulations to the organizing group today. Hearing directly from students is so important in any educational space. Especially a University. REDACTED</td>
      </tr><tr>
        <td><small>2024-08-22</small></td>
        <td><a href="/blog/2024/08/22/encouragement-3/">Encouragement 3</a></td>
        <td>Great job gang Got an email from one of our REDACTED teachers who sits on the senate she was very impressed with the forum and said that it&#39;s given them a lot of ammunition to use at the Senate meeting on Tuesday</td>
      </tr><tr>
        <td><small>2024-08-22</small></td>
        <td><a href="/blog/2024/08/22/encouragement-2/">Encouragement 2</a></td>
        <td>Hi Java, I just want to send you a quick note to say, once again, well done I think the event was great as you attracted lots of people and you did a great job with the actual handling of the event. REDACTED</td>
      </tr><tr>
        <td><small>2024-08-22</small></td>
        <td><a href="/blog/2024/08/22/dawn-freshwater-all-staff-email/">Dawn Freshwater All Staff Email</a></td>
        <td>Thu 22Aug24 allstaffrequest@list.auckland.ac.nz on behalf of Dawn Freshwater&lt;vicechancellor@auckland.ac.nz ​ allstaff Mailing List &lt;allstaff@list.auckland.ac.nz ​ Kia ora tātou I would like to provide some clarification about the review of courses underway across the University. There is a suggestion that all courses with fewer than 60 students will be cut. This is...</td>
      </tr><tr>
        <td><small>2024-08-22</small></td>
        <td><a href="/blog/2024/08/22/controversial-auckland-uni-course-shake-up-sparks-emergency-staff-student-meetings/">Controversial Auckland Uni course shake-up sparks emergency staff, student meetings</a></td>
        <td>Controversial Auckland Uni course shakeup sparks emergency staff, student meetings Jamie Morton By Jamie Morton Multimedia Journalist·NZ Herald· 22 Aug, 2024 12:30 PM 4 mins to read Save Share Students meet to discuss the proposed review and potential cuts of courses at the University of Auckland. Photo / Sylvie Whinray...</td>
      </tr><tr>
        <td><small>2024-08-21</small></td>
        <td><a href="/blog/2024/08/21/auckland-university-students-to-address-course-cuts-at-open-forum-with-provost-threaten-protest-on-university-open-day/">Auckland University Students To Address Course Cuts At Open Forum With Provost, Threaten Protest On University Open Day</a></td>
        <td>Auckland University Students To Address Course Cuts At Open Forum With Provost, Threaten Protest On University Open Day Wednesday, 21 August 2024, 6:18 pm Press Release: We are the University Date: Thursday, 22 August Time: 2:30 PM–3:30 PM Location: UoA Student Quad, City Campus Concerned Waipapa Taumata Rau – The...</td>
      </tr><tr>
        <td><small>2024-08-20</small></td>
        <td><a href="/blog/2024/08/20/suggested-literature/">Suggested Literature</a></td>
        <td>REDACTED a reading I&#39;ve assigned this week see attached has a section &quot;Vulnerability to Persuasion Tactics&quot; that I think you&#39;ll find very relevant... REDACTED Attached: Margaret Singer. 1987. Ch. 136 “Group Psychodynamics.” Merck Manual of Diagnosis and Therapy, 15th edition. 136. GROUP PSYCHODYNAMICS</td>
      </tr><tr>
        <td><small>2024-08-19</small></td>
        <td><a href="/blog/2024/08/19/special-edition-praxis-critical-university-studies-reading-group-12/">SPECIAL EDITION: Praxis (Critical University Studies Reading Group #12)</a></td>
        <td>2024/08/19 SPECIAL EDITION: Praxis Critical University Studies Reading Group 12 Kia ora Koutou Special edition of reading group this week: Praxis 🙂 Students are organising some political action, and it overlaps partially with our allotted readinggroup time. I&#39;m providing support and I&#39;m hoping you&#39;ll join me. To consider for the...</td>
      </tr><tr>
        <td><small>2024-08-16</small></td>
        <td><a href="/blog/2024/08/16/provost-invite-to-forum/">Provost Invite To Forum</a></td>
        <td>16 August 2024 Professor Valerie Linton, Provost CC: Professor Dawn Freshwater, ViceChancellor Waipapa Taumata Rau – University of Auckland 22 Princes Street, Auckland CBD, Auckland 1010 Subject: Course cutting student forum, 22nd August 2:30 pm, HSB B201 Foyer Tēnā koe Valerie, As students at Waipapa Taumata Rau – University of...</td>
      </tr><tr>
        <td><small>2024-08-16</small></td>
        <td><a href="/blog/2024/08/16/ausa-invite-to-forum/">AUSA Invite To Forum</a></td>
        <td>16 August 2024 Auckland University Student Association Attention: President, Alan Shaker 4 Alfred Street Auckland CBD, Auckland 1010 Subject: Course cutting student forum, 22nd August 2:30 pm, HSB B201 Foyer Tēnā koe Alan, Many students at Waipapa Taumata Rau – University of Auckland have concerns regarding central University’s ‘accelerated “optimisation”...</td>
      </tr><tr>
        <td><small>2024-08-12</small></td>
        <td><a href="/blog/2024/08/12/open-senate-letter/">Open Senate Letter</a></td>
        <td>Note: This document is set such that everyone with the link should have edit permission. So, just scroll down and type to add. However, I have now noticed that links that go through phones may be changed, and those may not be editable. The original link is: Plaintext: https://docs.google.com/document/d/1smn9xkkKediVn04BtaqRKepvdANMrGgKjlkMuSI/edit Live...</td>
      </tr><tr>
        <td><small>2024-08-07</small></td>
        <td><a href="/blog/2024/08/07/teu-letter/">TEU Letter</a></td>
        <td>7 August 2024 Professor Dawn Freshwater Vice Chancellor Waipapa Taumata Rau University of Auckland Dawn, tēna koe I write as the representative of staff who belong to Te Hautü Kahurangi Tertiary Education Union at Waipapa Taumata Rau University of Auckland. In the last week, the TEU has fielded innumerable alarmed...</td>
      </tr><tr>
        <td><small>2024-08-02</small></td>
        <td><a href="/blog/2024/08/02/are-you-in-a-small-course/">Are you in a small course?</a></td>
        <td>Are you in a small course? Course cuts are being proposed under the UoA&#39;s curriculum transformation CFT project. The deadline for feedback is Tuesday 06/08/24. UPDATE 17/08/24 FOR ALL FUTURE UPDATES AND TO FIND OUT HOW TO GIVE YOUR FEEDBACK, PLEASES GO TO OUR WEBSITE https://burnit.github.io/Disorientation/smallclasses/ +++++++++++++++++ UPDATE 12/08/24 Thank...</td>
      </tr><tr>
        <td><small>2024-07-01</small></td>
        <td><a href="/blog/2024/07/01/optimisation-of-our-courses-and-programmes/">Optimisation of our courses and programmes</a></td>
        <td>July 2024 Transformation is key As a University we aspire to achieve… Delivery of a distinctive Waipapa Taumata Rau University of Auckland experience Creating connection to place and our students’ capacities for meaningful contribution and leadership as citizens, in the professions, and in communities in Aotearoa New Zealand and Te...</td>
      </tr></tbody>
</table>
  <h3>Drafts</h3>
  <table>
    <thead>
      <tr><th>Date</th><th>Title</th><th>Excerpt</th></tr>
    </thead>
    <tbody></tbody>
  </table>

    
  </main>
  <footer>
    <footer style="text-align:center; font-size:0.9em; color:var(--gray-5); border-top:1px solid var(--gray-2); margin-top:2em; padding:1em 0 0 0; background:var(--gray-0);">
  <p><a href="/" style="color:inherit; text-decoration:none; font-weight:bold; letter-spacing:0.05em;">WEARETHEUNIVERSITY</a></p>
    </footer>
  </footer>
</body>
<script>
  // Dark mode toggle
  const btn = document.getElementById('darkModeToggle');
  btn.addEventListener('click', function() {
    document.body.classList.toggle('dark-mode');
    localStorage.setItem('darkMode', document.body.classList.contains('dark-mode'));
  });
  // On load, set mode from localStorage
  if (localStorage.getItem('darkMode') === 'true') {
    document.body.classList.add('dark-mode');
  }
</script>
</html>
