@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media only screen and (max-width: 600px) {
    html {
        font-size: 0.8rem;
    }
}

html {
    --nav-height: 2.4rem;
    --logo-font: 'Arial Black';
    --body-font: 'Montserrat', 'Arial';
    /* --color-primary: #eee; */
    /* --color-background: #94bbd6; */
    --color-tint: #0002;
    --color-primary: #efefef;
    --color-background: #f5f5f5;
    --text-primary-inverse: #000407;
    --text-highlight: rgb(108, 27, 67);
    --text-tint: #072f4d;
    font-family: var(--body-font);
    background-color: var(--color-background);
}

body {
    margin-top: var(--nav-height);
}

@media (prefers-color-scheme: dark) {
    html {
        --color-tint: #fff2;
        --color-primary: #04090d;
        --color-background: #131618;
        --text-primary-inverse: #eee;
        --text-highlight: #79c3ff;
        --text-tint: #d865f2;
    }
}

.subtitle {
    font-family: var(--body-font)
}

.contents {
    max-width: 30rem;
    min-width: 5rem;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.contents li:not(:last-child) {
    width: 100%;
    /* border-bottom: 0.1px dashed #444; */
}

li {
    margin: 0.4rem;
}

.contents li:nth-child(2n) {
    background: #81818118
}

.contents li a {
    /* padding: 0.5rem; */
    width: 100%;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
}

.contents li a:hover {
    background: var(--color-tint);
}

.contents li a span {
    max-width: 20rem;
    padding: 0.5em;
    /* flex: 1; */
}

body {
    margin: 0;
    margin-bottom: 30vh;
}

section {
    padding: 2rem min(5rem, 2vw);
    color: var(--text-primary-inverse);
}

.text-left {
    text-align: left;
}

.tight {
    max-width: 800px;
    margin: 0 auto;
}

section h1 {
    font-size: 2em;
    /* margin-top: 5rem; */
}

.center,
.text-center {
    text-align: center;
}

.logo,
.small-logo {
    font-family: var(--logo-font);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    color: var(--text-primary-inverse);
}

.logo:hover,
.small-logo:hover {
    color: var(--text-highlight);
}

nav {
    font-size: 0.5rem;
    padding: 0.4em 1em;
    background-color: var(--color-primary);
    color: var(--text-primary-inverse);
    position: fixed;
    width: 100vw;
    height: var(--nav-height);
}

.small-logo {
    font-size: 1rem;
    display: inline-block;
}

.banner {
    padding-top: 5vh;
    display: inline-block;
    width: 100%;
    min-height: 40vh;
    text-align: center;
    background: var(--color-primary);
    color: var(--text-primary-inverse);
    user-select: none;
    -webkit-user-select: none;
}

.banner .logo {
    font-size: calc(1rem + 4vw);
}

.banner .subtitle {
    font-size: calc(0.8rem + 2vw);
    margin-bottom: 2rem;
}

.banner .author {
    font-size: calc(0.5rem + 1vw);
    margin-bottom: 2rem;
    color: var(--text-highlight);
}

.banner-small {
    min-height: unset;
}

.small-text {
    font-size: 0.7em;
}

abbr[title] {
    color: var(--text-highlight);
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0 0.2em;
}

abbr:hover::after {
    content: attr(title);
    text-decoration: none;
    position: absolute;
    background: var(--color-background);
    padding: 0.5em;
    border-radius: 0 1rem 1rem 1rem;
    border: 1px solid var(--color-primary);
}

section.body {
    max-width: 800px;
    margin: 0 auto;
}

.notices {
    margin: 0 auto;
}

.notice {
    border: 1px solid var(--text-highlight);
    padding: 0.5rem 1rem;
}

.notice ul {
    padding-left: 0.6rem;
}

a {
    color: var(--text-highlight);
}

a:not(:has(*)):not([href^="#"]):not(h1 a):not(h2 a):not(h3 a):not(h4 a):not(h5 a):not(h6 a) {
    line-break: anywhere;
}

a:hover {
    color: var(--text-primary-inverse);
}

strong,
strong a {
    color: var(--text-tint);
}

em {
    color: var(--text-tint);
}

mark {
    background-color: var(--color-tint);
    color: var(--text-primary-inverse);
    border: 1px solid var(--text-tint);
    padding: 0 0.3em;
}

.question-and-answers {}

.question-and-answers .question {
    font-weight: bold;
    margin-bottom: 0.5rem;
    /* pin to top of screen when scrolled past */
    display: block;
    position: sticky;
    top: var(--nav-height);
    background: var(--color-primary);
    padding: 0.3rem;
}

p img {
    margin: 1rem;
    box-sizing: border-box;
    max-width: calc(100% - 2rem);
    max-height: 50vh;
}

nav .socials {
    margin-left: 1rem;
    transform: translateY(0.1rem);
    display: inline-block;
}

.socials {
    color: var(--text-primary-inverse);
}

.socials a {
    margin: 0 0.3rem;
}

.socials svg {
    fill: currentColor;
}

@media print {
    html {
        font-size: 0.9rem;
    }

    button[onclick="window.print()"] {
        display: none !important;
    }

    nav {
        position: absolute;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    h1,
    h2,
    h3 {
        font-size: 1.4em;
        margin: 0.8rem 0;
    }

    .page-break {
        page-break-after: always;
    }

    nav .socials,
    .socials {
        display: none;
    }
}

hr {
    border: 0;
    height: 1px;
    background: var(--text-tint);
    margin: 2rem 0;
}

table.alternating tr:nth-child(2n) {
    background: var(--color-tint);
    border-collapse: collapse;
}

table td {
    border: none !important;
    padding: 0.3rem;
    border-collapse: collapse;
}

table td.author {
    text-align: right;
}

/* Reclaim UOA */
/* We Are The University */
/* We Are The University (formerly Concerned Students) */

.author-tag-reclaim-uoa,
.author-tag-we-are-the-university-formerly-concerned-students,
.author-tag-we-are-the-university {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 1em;
    padding: 0.6rem;
    font-style: italic;
    font-size: 0.8em;
    display: inline-block;
}

/* Tertiary Education Union */

.author-tag-tertiary-education-union {
    color: white;
    font-weight: bold;
    background-color: #ff5800;
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* Palestine Solidarity Network Aotearoa */
/* Student Justice for Palestine Poneke */
/* Uni Workers for Palestine */

.author-tag-uni-workers-for-palestine,
.author-tag-student-justice-for-palestine,
.author-tag-student-justice-for-palestine-poneke,
.author-tag-palestine-solidarity-network-aotearoa,
.author-tag-palestinehumanrights {
    color: white;
    font-weight: bold;
    /* gradient from red to green */
    background: linear-gradient(90deg, #a90000, #007500);
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* NZCTU */

.author-tag-stand-up,
.author-tag-nzctu {
    color: white;
    font-weight: bold;
    background-color: #cb1214;
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* Association of University Staff */

.author-tag-association-of-university-staff {
    color: white;
    font-weight: bold;
    background-color: #b80444;
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* Auckland University Students Association */

.author-tag-auckland-university-students-association {
    color: white;
    font-weight: bold;
    background-color: #2991d6;
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* Fightback */

.author-tag-fightback {
    color: white;
    font-weight: bold;
    background-color: #FF2400;
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* NZUSA */
/* New Zealand University Student Associations */
/* NZ Union of Students' Associations */

.author-tag-nzusa,
.author-tag-new-zealand-union-of-students-associations,
.author-tag-nz-union-of-students-associations {
    color: white;
    font-weight: bold;
    background-color: hsl(90.73170732, 48.61660079%, 49.60784314%);
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* VUWSA */

.author-tag-victoria-university-students-association,
.author-tag-vuwsa {
    color: white;
    font-weight: bold;
    background-color: #7dc244;
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* Fossil Free UoA */

.author-tag-fossil-free-uoa {
    color: white;
    font-weight: bold;
    background-color: rgb(255, 169, 2);
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* rnz */

.author-tag-rnz {
    color: white;
    font-weight: bold;
    background-color: rgb(210, 65, 65);
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* The University Without Conditions */

.author-tag-the-university-without-conditions,
.author-tag-university-without-conditions {
    color: black;
    font-weight: bold;
    background-color: #fff;
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* SalientTV */

.author-tag-salienttv {
    color: white;
    font-weight: bold;
    background-color: rgb(164, 47, 1);
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* Peace Action Wellington  */

.author-tag-peace-action-wellington {
    color: white;
    font-weight: bold;
    background-color: #2b2b2b;
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* Unite Union */

.author-tag-unite,
.author-tag-unite-union {
    color: white;
    font-weight: bold;
    background-color: rgb(238, 49, 36);
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* Green Party */
/* #00491E */

.author-tag-greens,
.author-tag-green-party {
    color: white;
    font-weight: bold;
    background-color: #00491E;
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* NZ Police */
/* #00164B */

.author-tag-nz-police {
    color: white;
    font-weight: bold;
    background-color: #00164B;
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* Alliance (New Zealand political party) */
/* New Zealand Alliance Party */
/* #33CC66 & #c90006 */

.author-tag-alliance,
.author-tag-alliance-party,
.author-tag-new-zealand-alliance-party {
    color: white;
    font-weight: bold;
    background: linear-gradient(90deg, #33CC66, #c90006);
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* Auckland Action Against Poverty */
/* #D003AA */

.author-tag-auckland-action-against-poverty {
    color: white;
    font-weight: bold;
    background-color: #D003AA;
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}

/* Blockade the Budget */
/* #db5c2b */

.author-tag-blockade-the-budget {
    color: white;
    font-weight: bold;
    background-color: #db5c2b;
    border-radius: 0.1em;
    padding: 0.2rem 0.4rem;
    font-size: 0.8em;
    display: inline-block;
}