@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media only screen and (max-width: 600px) {
    html {
        font-size: 0.8rem;
    }
}

html {
    --nav-height: 2.4rem;
    --logo-font: 'Arial Black';
    --body-font: 'Montserrat', 'Arial';
    /* --color-primary: #eee; */
    /* --color-background: #94bbd6; */
    --color-tint: #0002;
    --color-primary: #efefef;
    --color-background: #f5f5f5;
    --text-primary-inverse: #000407;
    --text-highlight: rgb(108, 27, 67);
    --text-tint: #072f4d;
    font-family: var(--body-font);
    background-color: var(--color-background);
}

body {
    margin-top: var(--nav-height);
}

@media (prefers-color-scheme: dark) {
    html {
        --color-tint: #fff2;
        --color-primary: #04090d;
        --color-background: #131618;
        --text-primary-inverse: #eee;
        --text-highlight: #79c3ff;
        --text-tint: #d865f2;
    }
}


.subtitle {
    font-family: var(--body-font)
}

.contents {
    max-width: 30rem;
    min-width: 5rem;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.contents li:not(:last-child) {
    width: 100%;
    /* border-bottom: 0.1px dashed #444; */
}

li {
    margin: 0.4rem;
}

.contents li:nth-child(2n) {
    background: #81818118
}

.contents li a {
    /* padding: 0.5rem; */
    width: 100%;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
}

.contents li a:hover {
    background: var(--color-tint);
}

.contents li a span {
    max-width: 20rem;
    padding: 0.5em;
    /* flex: 1; */
}

body {
    margin: 0;
    margin-bottom: 30vh;
}

section {
    padding: 2rem min(5rem, 2vw);
    color: var(--text-primary-inverse);
}

.text-left {
    text-align: left;
}

.tight {
    max-width: 800px;
    margin: 0 auto;
}

section h1 {
    font-size: 2em;
    /* margin-top: 5rem; */
}

.center,
.text-center {
    text-align: center;
}

.logo,
.small-logo {
    font-family: var(--logo-font);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    color: var(--text-primary-inverse);
}

.logo:hover,
.small-logo:hover {
    color: var(--text-highlight);
}

nav {
    font-size: 0.5rem;
    padding: 0.4em 1em;
    background-color: var(--color-primary);
    color: var(--text-primary-inverse);
    position: fixed;
    width: 100vw;
    height: var(--nav-height);
}

.small-logo {
    font-size: 1rem;
    display: inline-block;
}

.banner {
    padding-top: 5vh;
    display: inline-block;
    width: 100%;
    min-height: 40vh;
    text-align: center;
    background: var(--color-primary);
    color: var(--text-primary-inverse);
    user-select: none;
    -webkit-user-select: none;
}

.banner .logo {
    font-size: calc(1rem + 4vw);
}

.banner .subtitle {
    font-size: calc(0.8rem + 2vw);
    margin-bottom: 2rem;
}

.banner .author {
    font-size: calc(0.5rem + 1vw);
    margin-bottom: 2rem;
    color: var(--text-highlight);
}

.banner-small {
    min-height: unset;
}

.small-text {
    font-size: 0.7em;
}

abbr[title] {
    color: var(--text-highlight);
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 0 0.2em;
}

abbr:hover::after {
    content: attr(title);
    text-decoration: none;
    position: absolute;
    background: var(--color-background);
    padding: 0.5em;
    border-radius: 0 1rem 1rem 1rem;
    border: 1px solid var(--color-primary);
}


section.body {
    max-width: 800px;
    margin: 0 auto;
}

.notices {
    margin: 0 auto;
}

.notice {
    border: 1px solid var(--text-highlight);
    padding: 0.5rem 1rem;
}

.notice ul {
    padding-left: 0.6rem;
}

a {
    color: var(--text-highlight);
}

a:not(:has(*)):not([href^="#"]):not(h1 a):not(h2 a):not(h3 a):not(h4 a):not(h5 a):not(h6 a) {
    line-break: anywhere;
}


a:hover {
    color: var(--text-primary-inverse);
}

strong,
strong a {
    color: var(--text-tint);
}

em {
    color: var(--text-tint);
}

mark {
    background-color: var(--color-tint);
    color: var(--text-primary-inverse);
    border: 1px solid var(--text-tint);
    padding: 0 0.3em;
}

.question-and-answers {}

.question-and-answers .question {
    font-weight: bold;
    margin-bottom: 0.5rem;
    /* pin to top of screen when scrolled past */
    display: block;
    position: sticky;
    top: var(--nav-height);
    background: var(--color-primary);
    padding: 0.3rem;
}

p img {
    margin: 1rem;
    box-sizing: border-box;
    max-width: calc(100% - 2rem);
    max-height: 50vh;
}

nav .socials {
    margin-left: 1rem;
    transform: translateY(0.1rem);
    display: inline-block;
}

.socials {
    color: var(--text-primary-inverse);
}

.socials a {
    margin: 0 0.3rem;
}

.socials svg {
    fill: currentColor;
}


@media print {
    html {
        font-size: 0.9rem;
    }

    button[onclick="window.print()"] {
        display: none !important;
    }

    nav {
        position: absolute;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    h1,
    h2,
    h3 {
        font-size: 1.4em;
        margin: 0.8rem 0;
    }

    .page-break {
        page-break-after: always;
    }

    nav .socials,
    .socials {
        display: none;
    }
}

hr {
    border: 0;
    height: 1px;
    background: var(--text-tint);
    margin: 2rem 0;
}